body {
	
	width: 100%;
	margin: auto;
	font-family: 'Aldrich';font-size: 22px;
	/*border: .25rem solid black;
	padding: 2rem;
	border-radius: 1rem;-*/
	background-color: #777;
}

html {
	margin: 1rem;
}


h1 {
	padding-bottom: 2rem;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.card-img-top {
	width: 64px;
	height: 64px;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
}

.card {
	margin: 1rem;
 } 
 .graph-card {
	 width: 100%;
	 border: 1px solid grey;
	 border-radius: .5rem;
	 background-color: #f5f9fd;	
	 padding-right: 1rem;
	 padding-left: 1rem;
	 padding-top: 1rem;
	 margin-top: 1rem;
 }

#confirm-area {
	padding-top: 3rem;
}

#myChart {
	height: 25rem	!important;		/* Setze die größe des Canvas fix !!! */
	width: 100% !important;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto;
	background-color: #f5f9fd;
	border: 1px solid grey;
	border-radius: .5rem;
}


.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #777;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
	font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #000000;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

.bg-light {
    background-color: #777!important;
}

a {
	color: #f5f9fd;
}


