body {
	padding: 2rem;
	width: 100%;
	margin: auto;
	font-family: 'Aldrich';font-size: 22px;
	border: .25rem solid black;
	border-radius: 1rem;
	background-color: #777;
}

html {
	margin: 1rem;
}


h1 {
	padding-bottom: 2rem;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.card-img-top {
	width: 64px;
	height: 64px;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
}

.card {
	margin: 1rem;
 } 

#confirm-area {
	padding-top: 3rem;
}

canvas {
	border: 1px solid;
	border-radius: .25rem;
}

.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
	font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #000000;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}